<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a routerLink="/" class="brand-logo">                
                <img class="responsive-img logo-img" src="/static/app/images/svea_logo_medium_bw.png" alt="Svea Logo">                
            </a>
            <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a routerLink="/">Competitions</a></li>
                <li><a routerLink="/">Profile</a></li>
                <li><a routerLink="/">Notifications</a></li>
                <li class="cyan darken-2"><a (click) = "authService.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-menu">
    <li><a routerLink="/">Competitions</a></li>
    <li><a routerLink="/">Profile</a></li>
    <li><a routerLink="/">Notifications</a></li>
    <li class="cyan darken-2"><a (click) = "authService.logout()">Logout</a></li>
</ul>