body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #eeeeee;
    color: rgb(51, 51, 51)
}

/*Setting materialize theme colors*/
/* .nav-wrapper {
    background-color: #00abc7;
}

.secondary-content>.material-icons {
    color: #00abc7;
}

.btn {
    background-color: #00abc7;
}

.page-footer{
    background-color: #00abc7;
}

.input-field {
    color: #00abc7;
}

.input-field>.material-icons {
    color: #00abc7;
}

.input-field>label {
    color: #00abc7;
}

.dropdown-content>li>a {
    color: #00abc7;
} */

.forms-stt {
    padding: 20px !important;
    background-color: white;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}